/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.event_list_item {
  border-bottom: 1px solid #DDDDDD;
  list-style: none outside none;
  padding: 26px 0;
}

.event_list_item:hover {
  background:#f5f5f5;
}

.unstyled {
  margin-left:0;
  list-style:none;
}

h5 a {
  font-family: Arial,sans-serif;
  font-size: 18px;
  line-height: 15px;
}

.date {
  color: #444444;
  font-size: 115%;
  line-height: 115%;
  float: right;
}

.content {
  padding: 40px 0;
}